body {
  padding-top: 10px;
  padding-bottom: 10px;
  align-content: center;
  background-color: #eee;
}
.container {
    margin: auto;
    display: block;
    width: 47.5%;
}
img {
    width: 250px;
}
.form-gif-request {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-gif-request {
  margin-bottom: 10px;
}
.form-gif-request {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-gif-request {
  z-index: 2;
}
.form-gif-request input[type="text"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
